@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.advItem__text {
		max-width: 100%; /* for IE 11 */
	}

	.container-stats{
		display: flex;
	}

	.statItems{
		width: 100%;
	}
}

@media screen and (max-width: 992px){
	.advItems{
		display: block;
	}

	.advItem{
		width: auto;
		display: block;
	}

	.blogItems{
		max-width: 370px;
		margin: 0 auto;
		text-align: center;
	}

	.blogItem{
		width: auto;
	}

	.stats{
		background: #dedfd7;
	}

	.statItems{
		justify-content: center;
	}

	.statItem{
		width: 300px;
	}
}