.statItems{
	display: flex;
	flex-wrap: wrap;
	margin: 0 @offset_one_side * -1;
	min-height: 620px;
	align-items: center;
}

.statItem{
	width: calc(100% / @colomns * 4 - @offset);
	margin: @offset_one_side;

  &__icon {
    border-radius: 50%;
    background: @color_green;
    width: 119px;
    height: 119px;
    margin: 17px auto;
    line-height: 150px;
  }

  &__number {
    color: @color_green;
    font-size: 45px;
    margin: 15px 0;
  }
  
  &__text {
    color: @color_dark;
    font-size: 20px;
  }

}



.stats {
	margin-top: 58px;
	background: url('@{path_img}stats-back.png') no-repeat top center;
}

.statItems {
	text-align: center;
}


@media screen and (max-width: 992px){

	.stats{
		background: #dedfd7;
	}

	.statItems{
		justify-content: center;
	}

	.statItem{
		width: 300px;
	}

}