.stats {	
	max-width: 2048px;
	margin: 0 auto;
	margin-top: 58px;
	background: url('@{path_img}stats-back.png') no-repeat top center;
	.md(background, #dedfd7);
}

.statItems{
	.row-flex();
	min-height: 620px;
	align-items: center;
	text-align: center;
	.md(justify-content, center);
}

.statItem{
	.col();
	.size(3);

  &__icon {
    border-radius: 50%;
    background: @color_green;
    width: 119px;
    height: 119px;
    margin: 17px auto;
    line-height: 150px;
  }

  &__number {
    color: @color_green;
    font-size: 45px;
    margin: 15px 0;
  }
  
  &__text {
    color: @color_dark;
    font-size: 20px;
  }
	.md(width, 300px);

}