.tools {
  background-color: @color_lite_grey;
  &__items {
    .row-flex();
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__item {
    display: flex;
    .col();
    .size(4);
    .size-md(4);
    .size-sm(6);
    .size-xs(12);
    margin: @offset_one_side; 
  }
  &-item {
    &__img {
      padding: 10px;
      img {
        display: inline-block;
        text-align: center;
        max-width: 75px;
      }
    }
    &__content {
      padding-top: 20px;
    }
    &__title {
      margin-bottom: 20px;
      text-align: left;
      font-size: 18px;
      font-weight: 700;
    }
    &__description {
      margin-bottom: 25px;
      text-align: left;
      color: #888;
      font-size: 14px;
      line-height: 23px;
    }
    &__link {
      color: @color_green;
      text-decoration: none;
    }
  }
}